.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    position: sticky;
    top: 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 0.5rem;
}

.header-label {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
}

.link {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.cart:hover {
  cursor: pointer;
}

.cart-indicator {
  background-color: rgb(216, 125, 74);
  color: white;
  border-radius: 100%;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  width: 11px;
  padding: 3px;
  position: absolute;
  margin-left: 15px;
  margin-top: -7px;
}

.hidden {
  display: none;
}