* {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --orange: rgb(216, 125, 74);
  --lighter-grey: rgb(241,241,241);
  --light-grey: rgba(255,255,255,0.7);
  --dark-grey: rgba(255,255,255,0.5);
  --light-orange: rgb(251, 175, 133);
  --light-black: rgba(0, 0, 0, 0.5);
  --toastify-color-success: #27823b !important;
  --toastify-font-family: 'Manrope', sans-serif !important;
}

/* general styling */

body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(250, 250, 250);
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: -20px;
}

h5 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

/* home page container */
#hero-container {
  background-color: rgb(25, 25, 25);
}

#products {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin:auto;
  row-gap: 50px;
  padding: 10px;
}

.non-flex {
  margin: 140px auto;
  padding: 5px;
}

/* hero/header styling */
#hero {
  background-image: url('../assets/home/mobile/image-header.jpg');
  color: var(--dark-grey);
  background-size: cover;
  background-position: center -75px;
  max-width: 768px;
  height: 600px;
  margin:auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  row-gap: 30px;
  margin:auto;
  align-items: center;
}

#hero p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#hero a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#hero a:hover {
  background-color: var(--light-orange);
}

#label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 13px;
}

/* catalog */
#catalog {
  display: flex;
  max-width: 768px;
  flex-direction: column;
  margin:auto;
  row-gap: 100px;
}

#catalog a {
  background-color: var(--lighter-grey);
  text-decoration: none;
  padding: 25px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-image {
  width: 100%;
  margin-top: -100px;
}

#catalog div {
  text-transform: uppercase;
  width: 100%;
  font-size: 15px;
  line-height: 14px;
  font-weight: 800;
  color: var(--light-black);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

#catalog a:hover div {
  color: var(--orange);
}

/* zx9 speaker banner */
#speaker-9 {
  background: url('../assets/home/desktop/image-speaker-zx9.png'), url('../assets/home/desktop/pattern-circles.svg'), var(--orange);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, 700px;
  background-position: center 70px, center -150px;
  max-width:768px;
  height:350px;
  border-radius: 10px;
  padding-top:300px;
}

#speaker-9 p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#speaker-9 a {
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-9 a:hover {
  background-color: rgb(76, 76, 76);
}

#speaker-9 h2 {
  width: 300px;
}

/* zx7 speaker banner */
#speaker-7 {
  background: url('../assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  max-width: 768px;
  height:375px;
  border-radius: 10px;
}

#speaker-7 .flex-container {
  align-items: flex-start;
  margin-left:30px;
  width: 100%;
  row-gap: 40px;
}

#speaker-7 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-7 a:hover {
  background-color: black;
  color: white;
}

/* yx1 earphones */
#earphones-1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 768px;
  height: 550px;
}

#earphone-photo {
  flex-basis: 50%;
  background: url('../assets/home/mobile/image-earphones-yx1.jpg');
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

#earphones-1 .flex-container {
  flex-basis: 50%;
  border-radius: 10px;
  background-color: rgb(241,241,241);
  width: 100%;
  align-items: flex-start;
}

#earphones-1 h3 {
  margin-left: 30px;
}

#earphones-1 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  margin-left:30px;
  transition: all 1s;
}

#earphones-1 a:hover {
  background-color: black;
  color: white;
}

/* advertisement space */
#advert {
  max-width: 768px;
  margin:auto;
  display: flex;
  row-gap: 40px;
  flex-direction: column-reverse;
}

#advert div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  text-align: center;
}

#advert p {
  font-size: 18px;
  color: var(--light-black);
  line-height: 28px;
  font-weight: 500;
}

#orange {
  color: var(--orange);
}

#advert-image {
  background-image: url('../assets/shared/mobile/image-best-gear.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 350px;
}

/* category headings */
.heading {
  background-color: rgb(25, 25, 25);
  text-align: center;
  padding: 30px 0;
}

.heading h1 {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}

/* category page products */

.more-gap {
  row-gap: 100px !important;
  margin: 100px auto 250px auto !important;
}

.category-product {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
}

.category-product div:last-child {
  flex-basis:50%;
}

.category-product img {
  width: 100%;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-basis:40%;
  align-items: center;
  row-gap: 20px;
}

.product-details h4, .photo-details h4 {
  margin:0;
  text-align: left;
  color: var(--orange);
  font-size: 14px;
  letter-spacing: 9px;
  font-weight: 400;
}

.product-details h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 250px;
  text-align: center;
}

.product-details p {
  color: var(--light-black);
  font-size: 15px;
  max-width: 450px;
  line-height: 25px;
  text-align: center;
}
.product-details a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

.product-details a:hover {
  background-color: var(--light-orange);
}

/* product page */
#back-button {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  color: var(--light-black);
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  margin-top: -70px;
}

#back-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photo-details {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  row-gap: 30px;
}
.photo-details h3 {
  font-size:35px;
  line-height: 43px;
}

.photo-details picture, .photo-details > div {
  flex-basis:50%;
}

.photo-details img {
  width: 100%;
  border-radius: 10px;
}

.photo-details > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.photo-details p {
  font-size: 16px;
  color: var(--light-black);
  line-height: 22px;
  max-width: 490px;
}

.photo-details h6 {
  font-size: 18px;
}

.number-buttons {
  background-color: var(--lighter-grey);
  color: var(--light-black);
  border: none;
  width: 55px;
  height: 50px;
  text-align: center;
  transition: all 1s;
  font-family: 'Manrope', sans-serif;
}

.number-buttons:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  color: var(--orange);
}

#quantity-number {
  display: inline-block;
  background-color: var(--lighter-grey);
  color: black;
  font-weight: 600;
  line-height: 34px;
  width: 25px;
  text-align: center;
  padding: 7px 0 9px 0;
}

.cart-button {
  font-family: 'Manrope', sans-serif;
  border:none;
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 16px 23px 16px 23px;
  white-space: nowrap;
  transition: all 1s;
  margin-left: 20px;
}

.cart-button:hover {
  background-color: var(--light-orange);
  cursor: pointer;
}

.text-details {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.text-details h4 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-details div {
  flex-basis: 70%;
}

.text-details ul {
  flex-basis: 30%;
  list-style: none;
  font-size: 18px;
  color: var(--light-black);
}

.text-details li {
  margin-bottom: 12px;
}

.orange-quantity {
  color: var(--orange);
  display: inline-block;
  width: 40px;
  font-weight: 700;
}

.text-details p {
  color: var(--light-black);
  font-size: 18px;
  line-height: 28px;
  max-width: 660px;
  margin-bottom: 25px;
}

.photo-grid {
  display: grid;
  row-gap: 10px;
  grid-template-areas: 
  "one"
  "two"
  "three";
}

.photo-grid img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-grid picture {
  object-fit: cover;
}

.item-one {
  grid-area: one;
}

.item-two {
  grid-area: two
}

.item-three {
  grid-area: three
}

/* other products area */

#other-products {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}

.product-flex {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
}

.product-flex h5 {
  font-size: 24px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 35px;
}

.product-flex img {
  width: 100%;
  border-radius: 10px;
}

.product-flex a {
  font-family: 'Manrope', sans-serif;
  border:none;
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 16px 23px 16px 23px;
  white-space: nowrap;
  transition: all 1s;
}

.product-flex a:hover {
  background-color: var(--light-orange);
}

/* shopping cart */
.cart-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s;
}

.shopping-cart {
  position: absolute;
  top: 150px;
  right: 300px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  min-width: 250px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 30px;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 2;
}

.shopping-cart h6 {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-black);
}

.shopping-cart a {
  width: 100%;
  color: white;
  text-transform: uppercase;
  background-color: var(--orange);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 0;
  letter-spacing: 1px;
}

.cart-open {
  overflow: hidden;
  height: 100vh;
}

.cart-hide {
  opacity: 0;
  transition: opacity 0.5s;
}

.pointer-event {
  pointer-events: none;
}

.shopping-cart h5 {
  font-size: 17px;
  width: auto;
  line-height: 17px;
}

.first-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-wrapper button {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  color: var(--light-black);
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
}

.first-wrapper button:hover {
  cursor: pointer;
}

.second-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#total {
  text-transform: uppercase;
  color: var(--light-black);
}

#total-price {
  font-weight: 700;
  font-size: 17px;
}

.cart-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-columns: 70px 100px 100px;
  grid-template-areas:
  "photo name button"
  "photo price button";
}

.cart-photo {
  grid-area: photo;
  width: 100%;
  border-radius: 10px;
}

.cart-name {
  grid-area: name;
  justify-self: start;
  align-self: end;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}

.cart-price {
  grid-area: price;
  justify-self: start;
  align-self: start;
  line-height: 13px;
  font-size: 13px;
  font-weight: 700;
  color: var(--light-black);
}

.cart-buttons {
  grid-area: button;
  align-self: center;
  justify-self: end;
}

.cart-buttons button {
  font-family: 'Manrope', sans-serif;
  background-color: var(--lighter-grey);
  color: var(--light-black);
  border: none;
  width: 35px;
  height: 30px;
  text-align: center;
  transition: all 1s;
}

.cart-buttons button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  color: var(--orange);
}

#quantity-cart {
  display: inline-block;
  background-color: var(--lighter-grey);
  color: black;
  font-weight: 600;
  line-height: 16px;
  width: 25px;
  text-align: center;
  padding: 7px 0 7px 0;
  font-size: 13px;
}

/* checkout page */
#checkout {
  max-width: 1200px;
  margin: 50px auto 100px auto;
}

.checkout-flex {
  display: flex;
  width: 100%;
  column-gap: 35px;
  margin-top: 30px;
}

.form {
  background-color: white;
  flex-basis: 70%;
  padding: 40px;
  border-radius: 10px;
}
.form h2 {
  color: black;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 25px;
}

.summary {
  background-color: white;
  flex-basis: 30%;
  padding: 30px;
  border-radius: 10px;
}

/* tablet mode */
@media (min-width:768px) and (max-width:1440px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  h5 {
    width: 70%;
  }

  #products, .non-flex {
    padding: 0;
  }

  #hero {
    background-image: url('../assets/home/tablet/image-header.jpg');
    background-size: contain;
    max-width: 768px;
    height: 768px;
  }

  #speaker-9 {
    height: 350px;
    background-size: 200px, 1000px;
    background-position: center 70px, center -300px;
  }

  #speaker-7 {
    background: url('../assets/home/tablet/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 768px;
    height:350px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    margin-left: 50px;
  }

  #earphones-1 {
    flex-direction: row;
    max-width: 768px;
    column-gap: 10px;
    height: 350px;
  }

  #earphone-photo {
    background: url('../assets/home/tablet/image-earphones-yx1.jpg');
    background-size: cover;
  }

  #catalog {
    flex-direction: row;
    max-width: 768px;
    column-gap: 15px;
  }

  #catalog a {
    flex-basis: 33%;
    padding: 25px 35px;
  }

  #advert {
    max-width: 768px;
  }

  #advert div:first-child {
    align-items: center;
  }

  #advert-image {
    background-image: url('../assets/shared/tablet/image-best-gear.jpg');
    height: 300px;
  }

  .heading {
    padding: 100px;
  }
  
  .heading h1 {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 700;
  }
  
  .photo-details {
    flex-direction: row;
    margin-top: -80px;
    column-gap: 50px;
  }

  .text-details p {
    max-width: none;
  }

  .photo-grid {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
    "one three"
    "two three";
  }

  .product-flex {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
  }
}

/* desktop mode */
@media (min-width: 1440px) {
  h2 {
    text-align: left;
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
    width: 70%;
  }

  #hero-container {
    margin-top: -50px;
    z-index: 0;
  }

  #hero {
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-position: -170px -50px;
    max-width: 1200px;
    height: 729px;
  }

  #hero .flex-container {
    align-items: flex-start;
    margin:0;
  }

  #hero p {
    text-align: left;
  }

  #speaker-9 {
    background-size: 450px, 1150px;
    background-position: 165px 70px, -190px -70px;
    max-width:1200px;
    height:600px;
    padding-top:0;
  }
  
  #speaker-9 .flex-container {
    margin-left: 750px;
    align-items: flex-start;
  }
  
  #speaker-9 p {
    text-align: left;
  }
  
  #speaker-9 h2 {
    width: 300px;
  }

  #speaker-7 {
    background: url('../assets/home/desktop/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 1200px;
    height:325px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    align-items: flex-start;
    margin-left: 100px;
  }

  #earphones-1 {
    max-width: 1200px;
    flex-direction: row;
    column-gap: 40px;
    height: 300px;
  }

  #earphone-photo {
    background: url('../assets/home/desktop/image-earphones-yx1.jpg');
    background-size: cover;
  }

  #earphones-1 h3, #earphones-1 a {
    margin-left: 50px;
  }

  #catalog {
    column-gap: 30px;
    max-width: 1200px;
    flex-direction: row;
  }
  
  #catalog a {
    flex-basis: 33%;
  }

  #catalog div {
    font-size: 13px;
  }
  
  .catalog-image {
    margin-top: -120px;
  }

  #advert {
    max-width: 1200px;
    height:550px;
    column-gap: 40px;
    flex-direction: row;
  }
  
  #advert div:first-child {
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    row-gap: 30px;
    text-align: left;
  }
  
  #advert p {
    font-size: 15px;
    width: 76%;
    line-height: 22px;
    font-weight: 500;
  }
  
  #advert-image {
    flex-basis: 50%;
    background-image: url('../assets/shared/desktop/image-best-gear.jpg');
    height: 100%;
  }

  #products {
    max-width: 1200px;
  }

  #products, .non-flex {
    padding: 0;
  }

  .heading {
    padding: 100px;
  }
  
  .heading h1 {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 700;
  }

  .more-gap {
    row-gap: 120px !important;
  }
  
  .category-product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .category-product div:last-child {
    flex-basis:50%;
  }
  
  .category-odd {
    flex-direction: row;
  }
  
  .product-details {
    justify-content: center;
    align-items: baseline;
    row-gap: 20px;
  }
  
  .product-details h3 {
    text-align: left;
  }
  
  .product-details p {
    text-align: left;
  }
  
  .photo-details {
    flex-direction: row;
    margin-top: -80px;
    column-gap: 130px;
  }
  .photo-details h3 {
    font-size: 40px;
    line-height: 48px;
  }

  .text-details {
    flex-direction: row;
  }
  
  .text-details h4 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .photo-grid {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
    "one three"
    "two three";
  }

  .product-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    text-align: center;
  }
}