* {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --orange: rgb(216, 125, 74);
  --lighter-grey: rgb(241,241,241);
  --light-grey: rgba(255,255,255,0.7);
  --dark-grey: rgba(255,255,255,0.5);
  --light-orange: rgb(251, 175, 133);
  --light-black: rgba(0, 0, 0, 0.5);
}

/* general styling */

body {
  font-family: 'Manrope', sans-serif;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: -20px;
}

h5 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

/* home page container */
#hero-container {
  background-color: rgb(25, 25, 25);
}

#products {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin:auto;
  row-gap: 50px;
  padding: 5px;
}

.non-flex {
  margin: 140px auto;
  padding: 5px;
}

/* hero/header styling */
#hero {
  background-image: url('../assets/home/mobile/image-header.jpg');
  color: var(--dark-grey);
  background-size: cover;
  background-position: center -75px;
  max-width: 768px;
  height: 600px;
  margin:auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  row-gap: 30px;
  margin:auto;
  align-items: center;
}

#hero p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#hero a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#hero a:hover {
  background-color: var(--light-orange);
}

#label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 13px;
}

/* catalog */
#catalog {
  display: flex;
  max-width: 768px;
  flex-direction: column;
  margin:auto;
  row-gap: 100px;
}

#catalog a {
  background-color: var(--lighter-grey);
  text-decoration: none;
  padding: 25px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-image {
  width: 100%;
  margin-top: -100px;
}

#catalog div {
  text-transform: uppercase;
  width: 100%;
  font-size: 15px;
  line-height: 14px;
  font-weight: 800;
  color: var(--light-black);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

#catalog a:hover div {
  color: var(--orange);
}

/* zx9 speaker banner */
#speaker-9 {
  background: url('../assets/home/desktop/image-speaker-zx9.png'), url('../assets/home/desktop/pattern-circles.svg'), var(--orange);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, 700px;
  background-position: center 70px, center -150px;
  max-width:768px;
  height:350px;
  border-radius: 10px;
  padding-top:300px;
}

#speaker-9 p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#speaker-9 a {
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-9 a:hover {
  background-color: rgb(76, 76, 76);
}

#speaker-9 h2 {
  width: 300px;
}

/* zx7 speaker banner */
#speaker-7 {
  background: url('../assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  max-width: 768px;
  height:375px;
  border-radius: 10px;
}

#speaker-7 .flex-container {
  align-items: flex-start;
  margin-left:30px;
  width: 100%;
  row-gap: 40px;
}

#speaker-7 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-7 a:hover {
  background-color: black;
  color: white;
}

/* yx1 earphones */
#earphones-1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 768px;
  height: 550px;
}

#earphone-photo {
  flex-basis: 50%;
  background: url('../assets/home/mobile/image-earphones-yx1.jpg');
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

#earphones-1 .flex-container {
  flex-basis: 50%;
  border-radius: 10px;
  background-color: rgb(241,241,241);
  width: 100%;
  align-items: flex-start;
}

#earphones-1 h3 {
  margin-left: 30px;
}

#earphones-1 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  margin-left:30px;
  transition: all 1s;
}

#earphones-1 a:hover {
  background-color: black;
  color: white;
}

/* advertisement space */
#advert {
  max-width: 768px;
  margin:auto;
  display: flex;
  row-gap: 40px;
  flex-direction: column-reverse;
}

#advert div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  text-align: center;
}

#advert p {
  font-size: 18px;
  color: var(--light-black);
  line-height: 28px;
  font-weight: 500;
}

#orange {
  color: var(--orange);
}

#advert-image {
  background-image: url('../assets/shared/mobile/image-best-gear.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 350px;
}

/* category headings */
.heading {
  background-color: rgb(25, 25, 25);
  text-align: center;
  padding: 30px 0;
}

.heading h1 {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}

/* category page products */

.more-gap {
  row-gap: 120px !important;
  margin-top: 100px !important;
}

.category-product {
  display: flex;
  flex-direction: row-reverse;
}

.category-product div {
  flex-basis: 50%;
}

.category-product img {
  width: 100%;
  border-radius: 10px;
}

.category-odd {
  flex-direction: row;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details h4 {
  margin:0;
  text-align: left;
  color: var(--orange);
  font-size: 14px;
  letter-spacing: 9px;
  font-weight: 400;
}

.product-details h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 250px;
}

.product-details p {
  color: var(--light-black);
  font-size: 15px;
  max-width: 450px;
  line-height: 25px;
}

/* tablet mode */
@media (min-width:768px) and (max-width:1440px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  h5 {
    width: 70%;
  }

  #products, .non-flex {
    padding: 0;
  }

  #hero {
    background-image: url('../assets/home/tablet/image-header.jpg');
    background-size: contain;
    max-width: 768px;
    height: 768px;
  }

  #speaker-9 {
    height: 350px;
    background-size: 200px, 1000px;
    background-position: center 70px, center -300px;
  }

  #speaker-7 {
    background: url('../assets/home/tablet/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 768px;
    height:350px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    margin-left: 50px;
  }

  #earphones-1 {
    flex-direction: row;
    max-width: 768px;
    column-gap: 10px;
    height: 350px;
  }

  #earphone-photo {
    background: url('../assets/home/tablet/image-earphones-yx1.jpg');
    background-size: cover;
  }

  #catalog {
    flex-direction: row;
    max-width: 768px;
    column-gap: 15px;
  }

  #catalog a {
    flex-basis: 33%;
    padding: 25px 35px;
  }

  #advert {
    max-width: 768px;
  }

  #advert div:first-child {
    align-items: center;
  }

  #advert-image {
    background-image: url('../assets/shared/tablet/image-best-gear.jpg');
    height: 300px;
  }

  .heading {
    padding: 100px;
  }
  
  .heading h1 {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 700;
  }
}

/* desktop mode */
@media (min-width: 1440px) {
  h2 {
    text-align: left;
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
    width: 70%;
  }

  #hero-container {
    margin-top: -50px;
    z-index: 0;
  }

  #hero {
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-position: -170px -50px;
    max-width: 1200px;
    height: 729px;
  }

  #hero .flex-container {
    align-items: flex-start;
    margin:0;
  }

  #hero p {
    text-align: left;
  }

  #speaker-9 {
    background-size: 450px, 1150px;
    background-position: 165px 70px, -190px -70px;
    max-width:1200px;
    height:600px;
    padding-top:0;
  }
  
  #speaker-9 .flex-container {
    margin-left: 750px;
    align-items: flex-start;
  }
  
  #speaker-9 p {
    text-align: left;
  }
  
  #speaker-9 h2 {
    width: 300px;
  }

  #speaker-7 {
    background: url('../assets/home/desktop/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 1200px;
    height:325px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    align-items: flex-start;
    margin-left: 100px;
  }

  #earphones-1 {
    max-width: 1200px;
    flex-direction: row;
    column-gap: 40px;
    height: 300px;
  }

  #earphone-photo {
    background: url('../assets/home/desktop/image-earphones-yx1.jpg');
    background-size: cover;
  }

  #earphones-1 h3, #earphones-1 a {
    margin-left: 50px;
  }

  #catalog {
    column-gap: 30px;
    max-width: 1200px;
    flex-direction: row;
  }
  
  #catalog a {
    flex-basis: 33%;
  }

  #catalog div {
    font-size: 13px;
  }
  
  .catalog-image {
    margin-top: -120px;
  }

  #advert {
    max-width: 1200px;
    height:550px;
    column-gap: 40px;
    flex-direction: row;
  }
  
  #advert div:first-child {
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    row-gap: 30px;
    text-align: left;
  }
  
  #advert p {
    font-size: 15px;
    width: 76%;
    line-height: 22px;
    font-weight: 500;
  }
  
  #advert-image {
    flex-basis: 50%;
    background-image: url('../assets/shared/desktop/image-best-gear.jpg');
    height: 100%;
  }

  #products {
    max-width: 1200px;
  }

  #products, .non-flex {
    padding: 0;
  }

  .heading {
    padding: 100px;
  }
  
  .heading h1 {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 700;
  }
}