* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: rgb(216, 125, 74);
  --light-grey: rgba(255,255,255,0.7);
  --dark-grey: rgba(255,255,255,0.5);
}

body {
  font-family: 'Manrope', sans-serif;
  padding:20px;
}

#hero {
  background-image: url('../assets/home/mobile/image-header.jpg');
  color: var(--dark-grey);
  background-size: cover;
  background-position: center -75px;
  max-width: 768px;
  height: 600px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  row-gap: 30px;
  margin:auto;
  align-items: center;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  text-align: center;
}

#hero p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#hero a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
}

#label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 13px;
}

#speaker {
  background: url('../assets/home/desktop/image-speaker-zx9.png'), url('../assets/home/desktop/pattern-circles.svg'), var(--orange);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, 700px;
  background-position: center 70px, center -150px;
  max-width:768px;
  height:350px;
  border-radius: 15px;
  padding-top:300px;
}

#speaker p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#speaker a {
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
}

#speaker h2 {
  width: 300px;
}

@media (min-width:768px) and (max-width:1440px) {
  #hero {
    background-image: url('../assets/home/tablet/image-header.jpg');
    background-size: contain;
    max-width: 768px;
    height: 768px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  #speaker {
    height: 350px;
    background-size: 200px, 1000px;
    background-position: center 70px, center -300px;
  }
}

@media (min-width: 1440px) {
  #hero {
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-position: -170px -50px;
    max-width: 1200px;
    height: 729px;
  }

  #hero .flex-container {
    align-items: flex-start;
    margin:0;
  }

  h2 {
    text-align: left;
    font-size: 50px;
    line-height: 50px;
  }

  #hero p {
    text-align: left;
  }

  #speaker {
    background-size: 450px, 1150px;
    background-position: 165px 70px, -190px -70px;
    max-width:1200px;
    height:600px;
    padding-top:0;
  }
  
  #speaker .flex-container {
    margin-left: 750px;
    align-items: flex-start;
  }
  
  #speaker p {
    text-align: left;
  }
  
  #speaker h2 {
    width: 300px;
  }
}