* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

#hero {
  background-image: url('../assets/home/desktop/image-hero.jpg');
  background-size: contain;
  max-width: 1440px;
  height: 729px;
  color: rgba(255,255,255,0.5);
}

#hero h2 {
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2px;
}

#hero p {
  font-size: 14px;
  width: 325px;
  color:rgba(255,255,255,0.7)
}

#hero a {
  text-decoration: none;
  color: rgb(255,255,255);
  background-color: rgb(216, 125, 74);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 23px;
}

#hero .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  row-gap: 30px;
  align-items: flex-start;
}

#label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 13px;
}