* {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --orange: rgb(216, 125, 74);
  --light-grey: rgba(255,255,255,0.7);
  --dark-grey: rgba(255,255,255,0.5);
  --light-orange: rgb(251, 175, 133);
}

body {
  font-family: 'Manrope', sans-serif;
  padding:20px;
}

/* hero/header styling */
#hero {
  background-image: url('../assets/home/mobile/image-header.jpg');
  color: var(--dark-grey);
  background-size: cover;
  background-position: center -75px;
  max-width: 768px;
  height: 600px;
  margin:auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  row-gap: 30px;
  margin:auto;
  align-items: center;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#hero p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#hero a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#hero a:hover {
  background-color: var(--light-orange);
}

#label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 13px;
}

/* zx9 speaker banner */
#speaker-9 {
  background: url('../assets/home/desktop/image-speaker-zx9.png'), url('../assets/home/desktop/pattern-circles.svg'), var(--orange);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, 700px;
  background-position: center 70px, center -150px;
  max-width:768px;
  height:350px;
  border-radius: 10px;
  padding-top:300px;
  margin:auto;
}

#speaker-9 p {
  font-size: 14px;
  width: 325px;
  color:var(--light-grey);
  text-align: center;
}

#speaker-9 a {
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-9 a:hover {
  background-color: rgb(76, 76, 76);
}

#speaker-9 h2 {
  width: 300px;
}

/* zx7 speaker banner */
#speaker-7 {
  background: url('../assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  max-width: 768px;
  height:375px;
  border-radius: 10px;
  margin:auto;
}

#speaker-7 .flex-container {
  align-items: flex-start;
  margin-left:30px;
  width: 100%;
  row-gap: 40px;
}

#speaker-7 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  transition: all 1s;
}

#speaker-7 a:hover {
  background-color: black;
  color: white;
}

/* yx1 earphones */
#earphones-1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 768px;
  height: 550px;
  margin:auto;
}

#earphone-photo {
  flex-basis: 50%;
  background: url('../assets/home/mobile/image-earphones-yx1.jpg');
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

#earphones-1 .flex-container {
  flex-basis: 50%;
  border-radius: 10px;
  background-color: rgb(241,241,241);
  width: 100%;
  align-items: flex-start;
}

#earphones-1 h3 {
  margin-left: 30px;
}

#earphones-1 a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 23px;
  white-space: nowrap;
  margin-left:30px;
  transition: all 1s;
}

#earphones-1 a:hover {
  background-color: black;
  color: white;
}

/* tablet mode */
@media (min-width:768px) and (max-width:1440px) {
  #hero {
    background-image: url('../assets/home/tablet/image-header.jpg');
    background-size: contain;
    max-width: 768px;
    height: 768px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  #speaker-9 {
    height: 350px;
    background-size: 200px, 1000px;
    background-position: center 70px, center -300px;
  }

  #speaker-7 {
    background: url('../assets/home/tablet/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 768px;
    height:350px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    margin-left: 50px;
  }

  #earphones-1 {
    flex-direction: row;
    max-width: 768px;
    column-gap: 10px;
    height: 350px;
  }

  #earphone-photo {
    background: url('../assets/home/tablet/image-earphones-yx1.jpg');
    background-size: cover;
  }
}

/* desktop mode */
@media (min-width: 1440px) {
  #hero {
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-position: -170px -50px;
    max-width: 1200px;
    height: 729px;
  }

  #hero .flex-container {
    align-items: flex-start;
    margin:0;
  }

  h2 {
    text-align: left;
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  #hero p {
    text-align: left;
  }

  #speaker-9 {
    background-size: 450px, 1150px;
    background-position: 165px 70px, -190px -70px;
    max-width:1200px;
    height:600px;
    padding-top:0;
  }
  
  #speaker-9 .flex-container {
    margin-left: 750px;
    align-items: flex-start;
  }
  
  #speaker-9 p {
    text-align: left;
  }
  
  #speaker-9 h2 {
    width: 300px;
  }

  #speaker-7 {
    background: url('../assets/home/desktop/image-speaker-zx7.jpg');
    background-size: cover;
    max-width: 1200px;
    height:325px;
    border-radius: 10px;
  }

  #speaker-7 .flex-container {
    align-items: flex-start;
    margin-left: 100px;
  }

  #earphones-1 {
    max-width: 1200px;
    flex-direction: row;
    column-gap: 40px;
    height: 300px;
  }

  #earphone-photo {
    background: url('../assets/home/desktop/image-earphones-yx1.jpg');
    background-size: cover;
  }

  #earphones-1 h3, #earphones-1 a {
    margin-left: 50px;
  }
}